<?xml version="1.0"?><pnga frames="10" plays="6"><image src="testexplode/test1.png" length="1/12"/><image src="testexplode/test2.png" length="1/12"/><image src="testexplode/test3.png" length="1/12"/><image src="testexplode/test4.png" length="1/12"/><image src="testexplode/test5.png" length="1/12"/><image src="testexplode/test6.png" length="1/12"/></pnga>
